.company {
  padding: 20px 30px;
  max-width: 1024px;
  margin: 0 auto;
}

small{
  font-size: 0.8em;
  padding: 0 10px;
}

.job .sub-title{
  font-weight: bold;
}
.job .sub-title .job-title{
  float: left;
}
.job .sub-title .job-period{
  float: right;
}
.job .sub-content{
}

@media print {
  .project_tagline {
    margin-bottom: 1mm;
    text-align: center;
  }
  #header_wrap .inner {
    padding: 5mm 2mm 0 2mm;
  }
  h1, h2, h3,h4,h5 {
    margin-bottom: 0mm;
    margin-top: 0mm;
  }

  h1 {
    font-size: 28pt;
  }

  h2 {
    font-size: 24pt;
  }

  h3 {
    font-size: 21pt;
  }

  h4 {
    font-size: 18pt;
  }

  h5 {
    font-size: 14pt;
  }
  .company {
    padding: 5mm 2mm 0 2mm;
  }

  .tag:after {
    content: ',';
    margin-right: 1mm;
  }
}