.company {
  padding: 20px 30px;
  max-width: 1024px;
  margin: 0 auto;
}

small{
  font-size: 16px;
  padding: 0 10px;
}

.job .sub-title{
  font-size: 18px;
  font-weight: bold;
}
.job .sub-title .job-title{
  float: left;
}
.job .sub-title .job-period{
  float: right;
}
.job .sub-content{
  font-size: 18px;
}